{{extend 'layout_white.html'}}

<h4>{{=T('About Us')}}</h4>

<p>talkexperience.com is a group of Canadian entrepreneurs who became intrigued by Google’s pretentious statement “We want to index the world’s knowledge”, making us wonder if this is realistic or not. And we decided it could be, depending on the definition of “world’s knowledge”.</p>

<p>We can’t argue that everything that is printed information will escape Google’s tenacity over the next several decades (yes, we are certain that the company will survive that long). But about everything else that is not printed, that is what is defined as “tacit knowledge”, that knowledge that is not written down or otherwise recorded except in peoples’ memories, will disappear and never be recaptured.</p>

<p>To quote that other giant knowledge warehouse, Wikipedia “People are not often aware of the knowledge they possess or how it can be valuable to others”.</p>

<p>That is where talkexperience.com comes in, providing a simple but effective platform for people to share their experiences in their own words. It is audio ONLY, so you can carry it with you everywhere on your iPod or phone, and you can create it simply with the same tool. And everyone else can access your knowledge using their own similar digital media tool.</p>

<p>It appears common to all Peoples, planet-wide, that a common goal as humans is to learn from other peoples’ experiences either because we are hungry for knowledge or just because we don’t want to make the same mistakes all over again.</p>

<p>Humans have pursued this goal for Millenia by telling stories and with the increasing focus on visual media – the written word, video – such simple storytelling, un-edited, spontaneous, in literally the story-tellers own words has become an increasingly lost and forgotten medium.  talkexperience.com is turning that particular story around, bringing the old and well tested ways back but using the latest in digital technology and media.</p>

<p>talkexperience.com is Audio Storytelling, if you wish, not told by actors, but by regular people.  YOU!</p>