{{extend 'layout_white.html'}}

<p>At talkexperience.com we try to do business differently, not only by clearly stating that we have our users in mind, but also by rewarding them for their participation in a way that counts, sort of putting our money where our mouth is: shares in the company.</p>
<p>The more recordings a user is uploading on the platform, either for free or for sale, the more shares he will accumulate.</p>
<p>A user uploading a recording for sale will get 40% of the selling price.</p>
<p>And with the shares, the more you help us succeed, the greater your return.</p>

Shares
Upload Experiences
5 Experiences = 1 Share 
Sale Price
60%
40%