{{extend 'layout.html'}}

<div class="sound">
	<div class="title">
		<div><img src="{{=Gravatar(detail_sound.owner_email, size=350).thumb}}" alt="" style="display:none" /></div>
		</a> {{=detail_sound.title}}</h3>
	</div>
	<div id="audioplayer">{{=T('Please enable javascript and flash to use the player')}}</div>
  		  <script type="text/javascript">
  		  	AudioPlayer.embed("audioplayer", {soundFile: "{{=detail_sound.download_url}}", autostart: "yes"});
  		  </script>
	<div class="info">{{=T('Added')}} {{=prettydate(detail_sound.created_on)}} {{=T('by')}} {{=detail_sound.username}} {{=detail_sound.play_count}} {{=T('views')}}</div>
	<div class="description">{{=detail_sound.description}}</div>
	{{if detail_sound.price > 0:}}
	<div id="buy"><span id="price">{{=detail_sound.price}}$</span> <a class="button" href="{{=URL('buy')}}">{{=T('Buy')}}</a></div>
	{{pass}}
</div>

<h5>{{=T('Comments')}}</h5>
<div id="comments">
{{=plugin_comments('sounds',detail_sound.id)}}
</div>

{{if len(sounds) > 0:}}	
	<img src="{{=Gravatar(detail_sound.owner_email, size=60).thumb}}" alt="" style="float:right"/>
	<h3>{{=T('By the same author')}}</h3>
	<hr/>
	{{=paginate_selector}} {{=paginate_info}}
	{{ for i,sound in enumerate(sounds):}}		
		{{if sound.id != detail_sound.id:}}
		<div class="sound">
		  <div class="title">
		  	<div><img src="{{=Gravatar(sound.owner_email, size=350).thumb}}" alt="" style="display:none" /></div>
		  	<a href="{{=URL('details', args=sound.id)}}">{{=sound.title}}</a>
		  </div>
		  <div id="audioplayer_{{=i}}">{{=T('Please enable javascript and flash to use the player')}}</div>
  		  <script type="text/javascript">
  		  	AudioPlayer.embed("audioplayer_{{=i}}", {soundFile: "{{=sound.download_url}}"});
  		  </script> 		  
		  <div class="info">{{=T('Added')}} {{=prettydate(sound.created_on)}} {{=sound.play_count}} {{=T('views')}}</div>
		  <div class="description">{{=sound.description}}</div> 	  
		</div>
		{{pass}}
	{{pass}}

	{{=paginator}}
{{pass}}

{{block head}}
<script type="text/javascript" src="{{=URL('static', 'js/audio-player.js')}}"></script>  
<script type="text/javascript">  
    AudioPlayer.setup("{{=URL('static', 'js/player.swf')}}", {  
        width: 290,
        transparentpagebg: "yes",
        rightbg: "8dc63f",        
    });  
</script>
{{end}}
