{{extend 'layout.html'}}
{{from html import truncate_string}}
{{from urllib import quote}}

<div class="sound even">
    <div class="sound-container">
        <div class="sound-left">            
            <div class="row">
                <div class="span1">
                    <img src="{{=Gravatar(detail_sound.owner_email, size=60).thumb}}" alt="" style="float:right"/>
                </div>
                <div class="span3 title">
                    {{=detail_sound.username}}<br/>
                    {{=detail_sound.category}}: <a href="{{=URL('details', args=detail_sound.id)}}">{{=truncate_string(detail_sound.title,32)}}</a>
                </div>                
            </div>
            <div class="row">
                <div class="span1">
                    {{if detail_sound.picture:}}
                    <img src="{{=URL('download', args=detail_sound.picture)}}" alt="" style="float:right"/>
                    {{pass}}
                </div>                
                <div class="span3 description"><b>{{=T('Description:')}}</b>{{=detail_sound.description}}</div>  
            </div>
            
        </div>
        <div class="sound-divider">
            <img src="{{=URL('static', 'images/sound-divider-even.png')}}" alt="sound-divider"/>
        </div>   
        <div class="sound-right">
            <div class="row sound-player">
                <div id="audioplayer">{{=T('Please enable javascript and flash to use the player')}}</div>        
                <script type="text/javascript">AudioPlayer.embed("audioplayer", {soundFile: "{{=detail_sound.download_url}}"});</script>
            </div>
            <div class="row">
                <div class="span4 sound-buttons">
                    <a href="{{=detail_sound.download_url}}" class="sound-button">{{=T('Download')}}</a>
                    <a href="#" class="sound-button">{{=T('Add to')}}<br/>{{=T('favorite')}}</a>
                    <a href="#" class="sound-button">{{=T('Add to')}}<br/>{{=T('playlist')}}</a>
                </div>
            </div>
            <div class="row">
                <div class="span4 sound-added">
                    <b>{{=T('Plays')}}</b>: {{=detail_sound.play_count}}<br/>
                    <b>{{=T('Added')}}</b>: {{=prettydate(detail_sound.created_on)}}
                </div>  
            </div> 
       </div>   
   </div>
  <div class="social">
    <div class="sound-share">                                    
            <a href="https://www.facebook.com/sharer.php?u={{=quote('http://'+request.env.http_host + URL('details', args=detail_sound.id))}}&t={{=quote(detail_sound.title)}}"><img src="{{=URL('static', 'images/facebook.png')}}" alt="facebook"></a>
            <a href="http://twitter.com/intent/tweet?source=sharethiscom&text={{=quote(detail_sound.title)}}&url={{=quote('http://'+request.env.http_host + URL('details', args=detail_sound.id))}}"><img src="{{=URL('static', 'images/twitter.png')}}" alt="twitter"></a>
            <a href="https://plus.google.com/share?url={{=quote('http://'+request.env.http_host + URL('details', args=detail_sound.id))}}"><img src="{{=URL('static', 'images/gplus-32.png')}}" alt="gplus" </a>
        </div>
        <div class="sound-comments">
            <a data-target="#commentsModal" role="button" data-toggle="modal" href="{{=URL('comments','post', args=detail_sound.id)}}" class="sound-button">{{=T('Comment')}} ({{=db(db.comments.sound == detail_sound.id).count()}})</a>
        </div>
  </div>   
</div>

<div id="commentsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="commentsModalLabel" aria-hidden="true">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 id="commentsModalLabel">Comments</h3>
</div>
<div class="modal-body"></div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>  
</div>
</div>

{{if len(sounds) > 0:}}	
	<img src="{{=Gravatar(detail_sound.owner_email, size=60).thumb}}" alt="" style="float:right"/>
	<h3>{{=T('By the same author')}}</h3>
	<hr/>
	{{=paginate_selector}} {{=paginate_info}}
	{{ for i,sound in enumerate(sounds):
        row='odd'
        if i % 2 == 0: row='even'
        }}		
		{{if sound.id != detail_sound.id:}}
		<div class="sound {{=row}}">
                    <div class="sound-container">
                        <div class="sound-left">            
                            <div class="row">
                                <div class="span1">
                                    <img src="{{=Gravatar(sound.owner_email, size=60).thumb}}" alt="" style="float:right"/>
                                </div>
                                <div class="span3 title">
                                    {{=sound.username}}<br/>
                                    {{=sound.category}}: <a href="{{=URL('details', args=sound.id)}}">{{=truncate_string(sound.title,32)}}</a>
                                </div>                
                            </div>
                            <div class="row">
                                <div class="span1">
                                    {{if sound.picture:}}
                                    <img src="{{=URL('download', args=sound.picture)}}" alt="" style="float:right"/>
                                    {{pass}}
                                </div>                
                                <div class="span3 description"><b>{{=T('Description:')}}</b>{{=sound.description}}</div>  
                            </div>
                            
                        </div>
                        <div class="sound-divider">
                            <img src="{{=URL('static', 'images/sound-divider-'+row+'.png')}}" alt="sound-divider"/>
                        </div>   
                        <div class="sound-right">
                            <div class="row sound-player">
                                <div id="audioplayer_{{=i}}">{{=T('Please enable javascript and flash to use the player')}}</div>        
                                <script type="text/javascript">AudioPlayer.embed("audioplayer_{{=i}}", {soundFile: "{{=sound.download_url}}"});</script>
                            </div>
                            <div class="row">
                                <div class="span4 sound-buttons">
                                    <a href="{{=sound.download_url}}" class="sound-button">{{=T('Download')}}</a>
                                    <a href="#" class="sound-button">{{=T('Add to')}}<br/>{{=T('favorite')}}</a>
                                    <a href="#" class="sound-button">{{=T('Add to')}}<br/>{{=T('playlist')}}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span4 sound-added">
                                    <b>{{=T('Plays')}}</b>: {{=sound.play_count}}<br/>
                                    <b>{{=T('Added')}}</b>: {{=prettydate(sound.created_on)}}
                                </div>  
                            </div>
                       </div>   
                   </div>
                  <div class="social">
                    <div class="sound-share">
                            <a href="https://www.facebook.com/sharer.php?u={{=quote('http://'+request.env.http_host + URL('details', args=sound.id))}}&t={{=quote(sound.title)}}"><img src="{{=URL('static', 'images/facebook.png')}}" alt="facebook"></a>
                            <a href="http://twitter.com/intent/tweet?source=sharethiscom&text={{=quote(sound.title)}}&url={{=quote('http://'+request.env.http_host + URL('details', args=sound.id))}}"><img src="{{=URL('static', 'images/twitter.png')}}" alt="twitter"></a>
                            <a href="https://plus.google.com/share?url={{=quote('http://'+request.env.http_host + URL('details', args=sound.id))}}"><img src="{{=URL('static', 'images/gplus-32.png')}}" alt="gplus"</a>
                        </div>
                        <div class="sound-comments">
                            <a data-target="#commentsModal" role="button" data-toggle="modal" href="{{=URL('comments','post', args=sound.id)}}" class="sound-button">{{=T('Comment')}} ({{=db(db.comments.sound == sound.id).count()}})</a>
                        </div>
                  </div>   
                </div>
		{{pass}}
	{{pass}}

	{{=paginator}}
        
        
{{pass}}

{{block head}}
<script type="text/javascript" src="{{=URL('static', 'js/audio-player.js')}}"></script>  
<script type="text/javascript">  
    AudioPlayer.setup("{{=URL('static', 'js/player.swf')}}", {  
        width: 290,
        transparentpagebg: "yes",
        //rightbg: "8dc63f",
        righticon: "#98FF00",
        righticonhover: "#8dc63f",
        remaining: "yes",        
    });
    $(function(){
        $(".description").jTruncate({length: 100});
        $('body').on('hidden', '.modal', function () {
               $(this).removeData('modal');
        }).on('shown', '.modal', function () {
            $(".modal-body").on("submit", "#comment-form", function(){
                var f = $(this);
                $.post(f.attr("action"), f.serialize(), function(data){
                    $(".modal-body").html(data);
                });
                return false
            });                     
        });
    });
</script>
{{end}}
