{{extend 'layout_white.html'}}

<h1>FAQ</h1>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#q1">
       What account should I use to log-in into talkexperience.com?
      </a>
    </div>
    <div id="q1" class="accordion-body collapse">
      <div class="accordion-inner">
        In order to log-in you can create a new account on the Sign-up pop-up or you can use your existing account with Facebook, Twitter, Google+, Yahoo.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#q2">
        How much audio can I upload or record on my talkexperience.com account?
      </a>
    </div>
    <div id="q2" class="accordion-body collapse">
      <div class="accordion-inner">
        We suggest that you upload files of no more than 70MB in size for easier downloading by others; that is the equivalent of 45 min of audio. There is no limit to the number of audio posts that you can upload and/or share on talkexperience.com
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#q3">
        What audio formats can I upload?
      </a>
    </div>
    <div id="q3" class="accordion-body collapse">
      <div class="accordion-inner">
        You can upload the following formats: mp3, aiff, amr, 3ga, m4a, ogg, wma, mov and wav. If you upload any format other than mp3, it is converted to mp3.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#q4">
        How do I upload or download my experiences?
      </a>
    </div>
    <div id="q4" class="accordion-body collapse">
      <div class="accordion-inner">
        To upload or download your experiences use the respective features from your talkexperience.com account. We are continuously working to make this process as easy as possible. For more information visit the <a href="{{=URL('staticpage', args='howitworks')}}">How It Works</a> page.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#q5">
        How do I share voice memos from my iPhone?
      </a>
    </div>
    <div id="q5" class="accordion-body collapse">
      <div class="accordion-inner">
        You can start by using the “Voice Memos” feature on your iPhone. Open the application and record an experience. When finished connect your iPhone to your computer and from there use the Upload feature from your talkexperience.com account. Our team is working on developing an app for iPhone, iPad and Android based mobile devices. We can only complete that work with funds we receive from our upcoming crowdfunding campaign! The app will give you the flexibility of recording and uploading the experience directly from your mobile device to your talkexperience.com account. You will also be able to share on Facebook and Twitter.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#q6">
        Do you have an app for mobile devices?
      </a>
    </div>
    <div id="q6" class="accordion-body collapse">
      <div class="accordion-inner">
        No, but we will start the development of it very soon. In fact we will soon launch a crowd funding campaign to raise funds for this purpose among others. Please keep watching this site to learn campaign details when they are available very soon!
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#q7">
        What experiences you are suggesting to be uploaded on experience.com?
      </a>
    </div>
    <div id="q7" class="accordion-body collapse">
      <div class="accordion-inner">
        Here are several ideas for experience content: leadership, education, entrepreneurship, politics, travel, management, books, music, loss of a loved one, objects we inherited from a family member, survival, childhood, immigration, parents, creativity, innovation, history of buildings; something that is worth passing on to other people. You can even think of it as Audio Storytelling for your family. Really, the scope is limited only by your imagination.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#q8">
        Can I record an experience now and make it public later?
      </a>
    </div>
    <div id="q8" class="accordion-body collapse">
      <div class="accordion-inner">
        Yes. When uploading an experience you can click on the “Time Capsule” option that will give you the opportunity to release the experience at a date in the future and also send a link to the experience to the person or persons that is meant for. Until that date, the experience will not show up on any searches in talkexperience.com 
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#q9">
        Are all experiences offered for free?
      </a>
    </div>
    <div id="q9" class="accordion-body collapse">
      <div class="accordion-inner">
        Yes, all the experiences are offered for free and you can choose any type of Creative Common license (link to www.creativecommons.org) in case you want to give others the right to use your experience under certain conditions.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#q10">
        What is a Creative Commons License?
      </a>
    </div>
    <div id="q10" class="accordion-body collapse">
      <div class="accordion-inner">
        Creative Commons (www.creativecommons.org) is a nonprofit organization that enables the sharing and use of creativity and knowledge through free legal tools. 
Their free, easy-to-use copyright licenses provide a simple, standardized way to give the public permission to share and use your creative work — on conditions of your choice. CC licenses let you easily change your copyright terms from the default of “all rights reserved” to “some rights reserved.”
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#q11">
        Would I be able to share my experiences on either my Facebook or Twitter account?
      </a>
    </div>
    <div id="q11" class="accordion-body collapse">
      <div class="accordion-inner">
        Yes, the application will give you that option as soon as the experience shows in your profile. Just click the Facebook or Twitter icons in order to share the experience on these two platforms.
      </div>
    </div>
  </div>
</div>
