{{extend 'layout_white.html'}}

<h1>FAQ</h1>

<a class="jumper" href="#q1">What account should I use to log-in into talkexperience.com?</a><br/>
<a class="jumper" href="#q2">How much audio can I upload or record on my talkexperience.com account?</a><br/>
<a class="jumper" href="#q3">What audio formats can I upload?</a><br/>
<a class="jumper" href="#q4">How do I upload or download my experiences?</a><br/>
<a class="jumper" href="#q5">How do I share voice memos from my iPhone?</a><br/>
<a class="jumper" href="#q6">Do you have an app for mobile devices?</a><br/>
<a class="jumper" href="#q7">What experiences you are suggesting to be uploaded on experience.com?</a><br/>
<a class="jumper" href="#q8">Can I record an experience now and make it public later?</a><br/>
<a class="jumper" href="#q9">Are all experiences offered for free?</a><br/>
<a class="jumper" href="#q10">What is a Creative Commons License?</a><br/>
<a class="jumper" href="#q11">Would I be able to share my experiences on either my Facebook or Twitter account?</a><br/>
<br/>
<br/>
<br/>

<div id="q1" class="question">What account should I use to log-in into talkexperience.com?</div>
<p>In order to log-in you can create a new account on the Sign-up pop-up or you can use your existing account with Facebook, Twitter, Google+, Yahoo.</p>

<div id="q2" class="question">How much audio can I upload or record on my talkexperience.com account?</div>
<p>We suggest that you upload files of no more than 70MB in size for easier downloading by others; that is the equivalent of 45 min of audio. There is no limit to the number of audio posts that you can upload and/or share on talkexperience.com</p>

<div id="q3" class="question">What audio formats can I upload?</div>
<p>You can upload the following formats: mp3, aiff, amr, 3ga, m4a, ogg, wma, mov and wav. If you upload any format other than mp3, it is converted to mp3.</p>

<div id="q4" class="question">How do I upload or download my experiences?</div>
<p>To upload or download your experiences use the respective features from your talkexperience.com account. We are continuously working to make this process as easy as possible. For more information visit the <a href="{{=URL('staticpage', args='howitworks')}}">How It Works</a> page.</p>

<div id="q5" class="question">How do I share voice memos from my iPhone?</div>
<p>You can start by using the “Voice Memos” feature on your iPhone. Open the application and record an experience. When finished connect your iPhone to your computer and from there use the Upload feature from your talkexperience.com account. Our team is working on developing an app for iPhone, iPad and Android based mobile devices. We can only complete that work with funds we receive from our upcoming crowdfunding campaign! The app will give you the flexibility of recording and uploading the experience directly from your mobile device to your talkexperience.com account. You will also be able to share on Facebook and Twitter.</p>

<div id="q6" class="question">Do you have an app for mobile devices?</div>
<p>No, but we will start the development of it very soon. In fact we will soon launch a crowd funding campaign to raise funds for this purpose among others. Please keep watching this site to learn campaign details when they are available very soon!</p>

<div id="q7" class="question">What experiences you are suggesting to be uploaded on experience.com?</div>
<p>Here are several ideas for experience content: leadership, education, entrepreneurship, politics, travel, management, books, music, loss of a loved one, objects we inherited from a family member, survival, childhood, immigration, parents, creativity, innovation, history of buildings; something that is worth passing on to other people. You can even think of it as Audio Storytelling for your family. Really, the scope is limited only by your imagination.</p>

<div id="q8" class="question">Can I record an experience now and make it public later?</div>
<p>Yes. When uploading an experience you can click on the “Time Capsule” option that will give you the opportunity to release the experience at a date in the future and also send a link to the experience to the person or persons that is meant for. Until that date, the experience will not show up on any searches in talkexperience.com </p>

<div id="q9" class="question">Are all experiences offered for free?</div>
<p>Yes, all the experiences are offered for free and you can choose any type of Creative Common license (link to www.creativecommons.org) in case you want to give others the right to use your experience under certain conditions.</p>

<div id="q10" class="question">What is a Creative Commons License?</div>
<p>Creative Commons (www.creativecommons.org) is a nonprofit organization that enables the sharing and use of creativity and knowledge through free legal tools. 
Their free, easy-to-use copyright licenses provide a simple, standardized way to give the public permission to share and use your creative work — on conditions of your choice. CC licenses let you easily change your copyright terms from the default of “all rights reserved” to “some rights reserved.”</p>

<div id="q11" class="question">Would I be able to share my experiences on either my Facebook or Twitter account?</div>
<p>Yes, the application will give you that option as soon as the experience shows in your profile. Just click the Facebook or Twitter icons in order to share the experience on these two platforms.</p>




<script>
    function scrollToAnchor(aid){
        var aTag = $(aid);
        $('html,body').animate({scrollTop: aTag.offset().top},'slow');
    }
    $(function(){
       $("a.jumper").click(function(){
        scrollToAnchor($(this).attr("href"));
        return false;
       });
    });
</script>