{{extend 'layout_white.html'}}

<h1>FAQ</h1>

<div class="question">How much audio can I upload or record on my talkexperience.com account?</div>
<p>We suggest that you upload files of no more than 70MB in size for easier downloading by others; that is the equivalent of 45 min of audio. There is no limit to the number of audio posts that you can upload, sell, and/or share on talkexperience.com. The more experience you upload the more benefits you have.
[DRAFTING NOTE: The original is confusing – is the limit 70MB or 100MB – hence the change made]
[DRAFTING NOTE: Is the service “talkexperience.com” or “talkexperience.com.com” – I almost prefer the latter and that is a common approach taken, to use the URL] – I agree, I’ve make the change in this document</p>

<div class="question">What audio formats can I upload?</div>
<p>You can upload the following formats: mp3, aiff, amr, 3ga, m4a,ogg, wma, mov and wav. If you upload any format other than mp3, it is converted to mp3.</p>


<div class="question">How do I upload or download my experiences?</div>
<p>To upload or download your experiences use the respective features from your talkexperience.com account. We are continuously working tomake this process as easyas possible.</p>


<div class="question">What technology/application are you using for recording the experiences?</div>
<p>We are currently using anapplication developed by Vocaroo, but we are working on developing our own.</p>


<div class="question">How do I share voice memos from my iPhone?</div>
<p>You can start by using the “Voice Memos” feature on your iPhone. Open the application and record an experience. When finished connect your iPhone to your computer and from there use the Upload feature from your talkexperience.com account. Our team is working on developing an app for iPhone, iPad and Android based mobile devices. The app will give you the flexibility of recording and uploading the experience directly from your mobile device to your talkexperience.com account. You will also be able to share on Facebook and Twitter.
[DRAFTING NOTE: Wouldn’t it be possible, a little awkward on phones perhaps, to upload using the browser on mobile phones, in advance of the app being available?] – if they go to talkexperience.com  on the browser  the user won’t know where to grab the file from the phone. There is no visible hard drive per say as in a regular computer.</p>


<div class="question">Do you have an app for mobile devices?</div>
<p>No, but we will start the development of it very soon. In fact we will soon launch a crowd funding campaign to raise funds for this purpose among others.</p>


<div class="question">What experiences can qualify as valid uploads towards earning talkexperience.com shares?</div>
<p>In order to qualify as a valid experience that can earn talkexperience.com shares, an experience has to be at least 3 min in length and has to be original. Here are several ideas for experience content: leadership, education, entrepreneurship, politics, travel, management, books, music, loss of a loved one, objects we inherited from a family member, survival, childhood, immigration, parents, creativity, innovation. Something that is worth passing it onto other people. You can even think of it as Audio Storytelling for your family.
The talkexperience.com team will listen and qualify each uploaded experience before crediting it towards the user’s account. The experiences that don’t qualify will be deleted and the user informed of the reasons.
[DRAFTING NOTE: Why delete experiences that don’t qualify?] – I had in mind recording that will have people bragging with no sense or talking to themselves for 3 min to get a share. We can talk more about it.</p>


<div class="question">Can I record an experience now and make it public later?</div>
<p>Yes. When uploading an experience you can click on the “Time in a Bottle” (Time Capsule) option that will give you the opportunity to release the experience at a date in the future and also send a link to the experience to the person that is meant for. Until the date is not due, the experience will not show up on any searches in talkexperience.com.com
<p>[DRAFTING NOTE: I don’t know if “Message in a Bottle” in this context qualifies as copyright infringement – maybe an arrangement can be reached with Sting to use the song, have him record an experience and endorse the project, and maybe some donation percentage from use of that feature goes to his Rainforest Foundation? - http://www.rainforestfund.org/ and http://www.rainforestfoundationuk.org] – great idea. Which ine do you prefer? In fact I was thinking of kicking the FB activity by posting this question: Which name do you like most for one of the platform’s features – Time in a Bottle or Time Capsule? – let the fans vote for it and from there try to get support and Sting’s attention in case the fans favor TIAB more.</p>


<div class="question">Do I have to sell my experiences or can I share them for free?</div>
<p>You have the option of either selling your experiences for a pre-determined price or share them for free. If you decide to sell them you will receive 40% of the selling price.
[DRAFTING NOTE: Rationale for 40%?  Will it put people off that the site takes more than the creator of the story?] – based on my research for each $0.99 song sold, Apple retains 30 %, the remaining goes to the labels with an even smaller percentage to the artists. As a company we need to show good source of revenue.</p>


<div class="question">What is the significanceof the shares and how can I get them?</div>
<p>We believe in the concept of turning our users into company shareholders and for this reason alone the more experiences you share with us, the better your reward. For any five (5) uploaded experiences you will receive a share in the company. At start-up, there is no monetary value of the share but of course it is our entire aim to create value, and we need you and others like you participating to do that.</p>


<div class="question">If my experiences sell well, is there any minimum amount of sales before I can receive a cheque from you?</div>
<p>There is a minimum amount of USD$10 before a cheque or a Paypal transfer can be processed. Payments will be made either every 3 months or when the $10 amount is reached. Which ever comes first.
[DRAFTING NOTE:Seems to me this question also needs to address how frequently payments are made to users.]</p>


<div class="question">Can I donate either my shares or my accumulated funds?</div>
<p>Our team is working on both of these features, so that in the near future a user can donate either the shares or the fundsto his charity of choice.</p>


<div class="question">Would I be able to share my experiences on either my Facebook or Twitter account?</div>
<p>Yes, the application will give you that option when uploading an experience.</p>
