{{extend 'layout_white.html'}}

<h4>How It Works</h4>

<p>This platform’s main purpose is to give you the opportunity to record and/or upload your personal and professional experiences as part of a Global Tacit Knowledge database. </p>

<p>You can Sign-up for a new account or use your existing Facebook, Twitter, Google or Yahoo account at present.</p>

<img class="step-img" src="{{=URL('static','images/step1.jpg')}}" alt="step1">

<p>For recording an experience, click on the <span class="emph-link">Submit an Experience</span> link that will take you to the page below. Select the <span class="emph-link">Allow</span> option then <span class="emph-link">Close</span>.</p>

<img class="step-img" src="{{=URL('static','images/step2.jpg')}}" alt="step2">

<p>Click the <span class="emph-link">Start Recording</span> button and record an experience. When you are done click <span class="emph-link">Stop Recording</span> and a form to enter the details of the recording will be displayed. </p>

<img class="step-img" src="{{=URL('static','images/step3.jpg')}}" alt="step3">
    
<img class="step-img" src="{{=URL('static','images/step4.jpg')}}" alt="step4">
    
<img class="step-img" src="{{=URL('static','images/step5.jpg')}}" alt="step5">

<p>Complete the form, similar to below, and when complete, hit <span class="emph-link">Share</span>.</p>

<img class="step-img" src="{{=URL('static','images/step6.jpg')}}" alt="step6">

<p>Click <span class="emph-link">Share</span> and the experience will be listed on your account under the My Experiences page.</p>

<p>In case you want to release the recording at a later date and address it to a certain person, fill in the fields on the right “Time Capsule” column. Your experience will stay private until the release date and will not show up in any search.</p>

<img class="step-img" src="{{=URL('static','images/step7.jpg')}}" alt="step7">

<p>For each experience listed, you have the option to listen to the recording, delete the recording, or edit the description.  If you choose <span class="emph-link">Edit</span>, it will take you back to the information screen above; once you have made the necessary changes, you click the <span class="emph-link">Submit</span> button which will return you to the “My Experiences” page. </p>
