{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

<h4>{{=T('How It Works')}}</h4>

On this platform you can be either a Seller (record your experiences and upload them for others to download for free or for a price you set-up) or a Buyer (buy the recordings you are interested in).
 
In order to record an experience click on Record a Sound link on the top menu. The following screen will appear.
 
<img width="100%" src="{{=URL('static','images/step1.png')}}" alt="step1">
 
Click on Allow in order for the recording process to start.

<img width="100%" src="{{=URL('static','images/step2.png')}}" alt="step2"> 

When you are done recording, Click to Stop.
 
<img width="100%" src="{{=URL('static','images/step3.png')}}" alt="step3" 
 
You can listen to your recording or try again. If you are pleased with the results click on the bottom link to save the file.

<img width="100%" src="{{=URL('static','images/step4.png')}}" alt="step4">

Select one of the formats the file will be saved as (recommended wav and MP3) and choose a destination on your hard drive such as Desktop. The file will be saved at this location.

<img width="100%" src="{{=URL('static','images/step5.png')}}" alt="step5">

In order to upload the file on our web site, click on Upload a File. Enter the Title, the keys words, language, price (in case you want to sell your Experience and all the other information required.
 
To upload a specific file, browse to the location where you saved the file you just recorded on your computer ( e.g. Desktop).

<img width="100%" src="{{=URL('static','images/step6.png')}}" alt="step6"> 
 
At the end of the process, the new recording will be listed under your account.

<script type="text/javascript">        
  $("#no_table_query").one("focus", function() {
      $(this).val("");
  });  
</script>
