<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>talkexperience</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="We are providing a simple and effective social platform for people to share their experiences in their own words. An Audio Storytelling told by regular people.">
<meta name="author" content="Radu Ioan Fericean <radu@fericean.ro>">

<link href="{{=URL('static','css/bootstrap.min.css')}}" rel="stylesheet">

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="{{=URL('static','css/fonts.css')}}" rel="stylesheet" type="text/css" />
<link href="{{=URL('static','css/index.css')}}" rel="stylesheet" type="text/css" />
<!--[if IE]>
<link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body> 
  <div class="container first">
  <div class="row">
  <div class="span12" id="main">    
  <div id="top-left">
    <a class="mixed" href="{{=URL('default', 'most_popular')}}">MOST POPULAR <br/> <span class="green">SUBJECTS</span></a>
  </div>
  <div id="top-center-left">
    <a class="mixed" href="{{=URL('default', 'user', args='login')}}">SIGN <span class="green">IN</span></a>
  </div>
  <div id="top-center-right">
    <a class="mixed" href="{{=URL('default', 'user', args='register')}}">SIGN <span class="green">UP</span></a>
  </div>
  <div id="logo">
    <a href="{{=URL('index')}}"><img src="{{=URL('static', 'images/logo_no_icon.png')}}" alt="logo"/></a>
    <ul class="pretty">
      <li>Writing a blog, a book or an article requires time and
  some talent. Making an audio recording of a life or
  professional experience is so much easier</li>
      <li>Selling an antique object? Attach your audio experience of owning it</li>
      <li>It’s easy, portable and can make you money</li>
    </ul>
  </div>
  <div id="center-left">
    <a class="mixed" href="{{=URL('default', 'by_language')}}">MOST EXPERIENCES<br/>BY <span class="green">LANGUAGE</span></a>
  </div>
  <div id="center-right">
    <a class="mixed" href="{{=URL('search')}}">SEARCH  <span class="green">FOR</span> AN <br/><span class="green">EXPERIENCE</span></a>
  </div>
  <div id="bottom-left">
    <a class="mixed" href="{{=URL('default', 'by_user')}}">MOST <span class="green">EXPERIENCES</span><br/>BY USER</a>
  </div>
  <div id="bottom-center">
    <a class="mixed" href="{{=URL('default', 'details', args=44)}}">MESSAGE FROM THE <span class="green">FOUNDER</span></a>
  </div>
  <div id="bottom-right">
    <a class="mixed" href="#">CAPTURING <span class="green">GLOBAL</span><br/>TACIT <span class="green">KNOWLEDGE</span></a>
  </div>
  </div> <!-- span12 -->
  </div> <!-- row -->
  </div> <!-- /container -->
  <div class="container-fluid">
  <hr/>
    </div>
    <div class="container">
      <footer>
      <div class="footer-content">
        <a href="{{=URL('staticpage', args='about')}}">ABOUT US</a>
        <a href="{{=URL('staticpage', args='howitworks')}}">HOW IT WORKS</a>
        <!--a href="{{=URL('staticpage', args='business')}}">BUSINESS MODEL</a-->
        <!--a href="{{=URL('staticpage', args='terms')}}">TERMS &amp; CONDITIONS</a-->
        <a href="{{=URL('staticpage', args='faq')}}">FAQ</a>
        <a href="{{=URL('contact')}}">CONTACT US</a>
        <a class="share" href="http://twitter.com/talkexperience"><img src="{{=URL('static', 'images/twitter.png')}}" alt="twitter"></a>
        <a class="share" href="http://www.facebook.com/pages/Talkexperience/136783493132773"><img src="{{=URL('static', 'images/facebook.png')}}" alt="facebook"></a>
      </div>
      </footer>
  </div>


<script src="{{=URL('static','js/jquery.js')}}"></script>
<script type="text/javascript">
  $(function(){
  $('a.mixed').mouseenter(function(){
  $(this).children('.green').css("color", "#005580");
  });
  $('a.mixed').mouseleave(function(){
  $(this).children('.green').css("color", "#8dc63f");
  });
  });
</script>
</body>
</html>
