<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>talkexperience</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Radu Ioan Fericean">

<link href="{{=URL('static','css/bootstrap.min.css')}}" rel="stylesheet">

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link href="{{=URL('static','css/screen.css')}}" media="screen, projection" rel="stylesheet" type="text/css" />
<!--[if IE]>
<link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->

</head>
<body> 
  <div class="container first">
  <div class="row">
  <div class="span12" id="main">    
  <div id="top-left">
    <a href="#">MOST POPULAR <br/> <span class="green">SUBJECTS</span></a>
  </div>
  <div id="top-center-left">
    <a href="#">SIGN <span class="green">IN</span></a>
  </div>
  <div id="top-center-right">
    <a href="#">SIGN <span class="green">UP</span></a>
  </div>
  <div id="logo">
    <img src="{{=URL('static', 'img/logo_new.png')}}" alt="logo"/>
    <ul>
      <li>Writing a blog, a book or an article requires time and
  some talent. Making an audio recording of a life or
  professional experience is so much easier.</li>
      <li>Selling an antique object? Attach your audio experience of owning it.</li>
      <li>It’s easy, portable and can make you money.</li>
      <li>Become a shareholder through sharing.</li>
    </ul>
  </div>
  <div id="center-left">
    <a href="#">MOST EXPERIENCES<br/>BY <span class="green">LANGUAGE</span></a>
  </div>
  <div id="center-right">
    <a href="#">SEARCH  <span class="green">FOR</span> AN <br/><span class="green">EXPERIENCE</span></a>
  </div>
  <div id="bottom-left">
    <a href="#">MOST <span class="green">EXPERIENCES</span><br/>BY USER</a>
  </div>
  <div id="bottom-center">
    <a href="#">MESSAGE FROM THE <span class="green">FOUNDER</span></a>
  </div>
  <div id="bottom-right">
    <a href="#">CAPTURING <span class="green">GLOBAL</span><br/>TACIT <span class="green">KNOWLEDGE</span></a>
  </div>
  </div> <!-- span12 -->
  </div> <!-- row -->
  </div> <!-- /container -->
  <div class="container-fluid">
  <hr/>
    </div>
    <div class="container">
  <footer>
  <div class="footer-content">
    <a href="{{=URL('about')}}">ABOUT</a>
    <a href="{{=URL('howitworks')}}">HOW IT WORKS</a>
    <a href="{{=URL('bussines')}}">BUSSINES MODEL</a>
    <a href="{{=URL('terms')}}">TERMS & CONDITIONS</a>
    <a href="{{=URL('faq')}}">FAQ</a>
    <a href="{{=URL('contact')}}">CONTACT US</a>
  </div>
  </footer>
  </div>


<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>
