{{extend 'layout_white.html'}}

<h1>Capturing Global Tacit Knowledge</h1>
<h2>Mission</h2>
<p>To facilitate the transfer of the World's Tacit Knowledge into a vast database of explicit knowledge through storytelling and the sharing of personal experiences using ubiquitous audio recording and playback technology.</p>
<br/><br/>
<p>“Tacit Knowledge is the Unwritten, unspoken, and hidden vast storehouse of knowledge held by practically every normal human being, based on his or her emotions, experiences, insights, intuition, observations and internalized information. Tacit knowledge is integral to the entirety of a person's consciousness, is acquired largely through association with other people, and requires joint or shared activities to be imparted from on to another” - <a href="http://businessdictionary.com/">BusinessDictionary.com</a></p>

<p>And this is exactly what we want to achieve; to convince people how important it is to transfer our personal tacit knowledge into explicit knowledge so that it can become an invaluable source of information and education for present and future generations. Join us in this amazing quest and use for free the <a href="http;//www.talkexperience.com">talkexperience.com</a> platform to audio record and upload your Experiences, and listen to those recorded and uploaded by others.</p>
