{{extend 'layout_white.html'}}

<h1>Capturing Global Tacit Knowledge</h1>
<h2>Mission</h2>
<p>To build the World's Largest Tacit Knowledge database using ubiquitous audio recording and playback technology.</p>
<br/><br/>
<p>“Tacit Knowledge is the Unwritten, unspoken, and hidden vast storehouse of knowledge held by practically every normal human being, based on his or her emotions, experiences, insights, intuition, observations and internalized information. Tacit knowledge is integral to the entirety of a person's consciousness, is acquired largely through association with other people, and requires joint or shared activities to be imparted from on to another” - BusinessDictionary.com</p>

<p>And this is exactly what we want to achieve; to convince people how important it is to save our personal tacit knowledge so that it can become an invaluable source of information and education for present and future generations. Join us in this amazing quest and use for free the talkexperience.com platform to audio record and upload your Experiences, and listen to those recorded and uploaded by others.</p>