{{extend 'layout.html'}}


<h3>{{=T('Playlist')}}</h3>


<div class="row sound-player">
    <div id="audioplayer">{{=T('Please enable javascript and flash to use the player')}}</div>        
    <script type="text/javascript">AudioPlayer.embed("audioplayer", {
        soundFile: "{{for s in sounds:}}{{=s.download_url + ','}}{{pass}}",
        titles: "{{for s in sounds:}}{{=s.title or '' + ','}}{{pass}}",
        artists: "{{for s in sounds:}}{{=s.username + ','}}{{pass}}",
        autostart: "yes" 
        });</script>
</div>

<h5>Currently in playlist:</h5>
<table class="table table-condensed">
    <tbody>
        {{for s in sounds:}}
        <tr>
            <td><a style="font-size: 14px;" href="{{=URL('default', 'details', args=s.id)}}">{{=s.title or ''}}</a></td>
            <td>{{=s.username}}</td>
            <td>                
                <a href="{{=s.download_url}}" class="btn btn-green btn-small">{{=T('Download')}}</a>
                <a href="{{=URL('default','remove_playlist', args=s.id, user_signature=True)}}" class="btn btn-green btn-small">{{=T('Remove')}}</a>                
            </td>
        </tr>
        {{pass}}
    </tbody>
</table>


{{block head}}
<script type="text/javascript" src="{{=URL('static', 'js/audio-player.js')}}"></script>  
<script type="text/javascript">    
        AudioPlayer.setup("{{=URL('static', 'js/player.swf')}}", {  
            width: 290,
            transparentpagebg: "yes",            
            rightbg: "8dc63f",
            righticon: "#98FF00",
            righticonhover: "#8dc63f",
            remaining: "yes",        
        });    
</script>
{{end}}