{{extend 'layout.html'}}

<div class="row">
{{=form.custom.begin}}
<div class="span6">
    <h4>{{=T('Record an Experience')}}</h4>
<table>
    <tbody>
        <tr><td>{{=T('Title')}}</td><td>{{=form.custom.widget.title}}</td></tr>
        <tr><td>{{=T('Description')}}</td><td>{{=form.custom.widget.description}}</td></tr>
        <tr>
            <td>{{=T('Keywords')}}</td><td>{{=form.custom.widget.keywords}}
            <img src="{{=URL('static','/images/help.png')}}" alt="help" rel="popover" data-trigger="hover" title="{{=T('Keywords')}}" data-content="{{=T('Representative words for the recording.')}}"/></td>
        </tr>
        <tr><td>{{=T('Category')}}</td><td>{{=form.custom.widget.category}}</td></tr>
        <tr id="sounds_uuid__row"><td></td><td>{{=form.custom.widget.uuid}}</td></tr>
        <tr><td>{{=T('Language')}}</td><td>{{=form.custom.widget.language}}</td></tr>
        <tr><td>{{=T('Picture')}}</td><td>{{=form.custom.widget.picture}}</td></tr>
        </tbody>
</table>
</div>
<div class="span5">
    <h4><span class="form_split">Time capsule</span><img src="{{=URL('static','/images/help.png')}}" alt="help" rel="popover" data-trigger="hover" title="{{=T('Time capsule')}}" data-content="{{=T('Use when you want the experience to be released at a later date. An email will be sent to the address provided.')}}"/></h4>
<table>
    <tbody>        
        <tr><td>{{=T('Release date')}}</td><td>{{=form.custom.widget.release_date}}</td></tr>
        <tr><td>{{=T('Email')}}</td><td>{{=form.custom.widget.email}}</td></tr>
        <tr><td>{{=T('Comments')}}</td><td>{{=form.custom.widget.comments}}</td></tr>
        <tr>
          <td>Record an Experience</td>
          <td>
            <a style="display:none" href="#" class="btn btn-large btn-green ready" id="rec-link">{{=T('Start recording')}}</a>
            <span id="wami"></span>
			<noscript>          
              <p>{{=T('Please enable JavaScript and Flash to use the recorder feature.')}}</p>              
            </noscript> 
      <div id="status"></div>
          </td>
      </tr>
    </tbody>
</table>
</div>
</div>
<div class="row">
    <div class="span6">
        <button class="btn btn-large btn-green">{{=T('Share')}}</button>
    </div>
</div>
{{=form.custom.end}}

<!-- swfobject is a commonly used library to embed Flash content -->
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<link href="{{=URL('static','css/select2.css')}}" rel="stylesheet" type="text/css" />
<script src="{{=URL('static','js/select2.min.js')}}" type="text/javascript"></script>
<!-- Setup the recorder interface -->
<script type="text/javascript" src="{{=URL('static', 'js/recorder.js')}}"></script>

<script type="text/javascript">
  $(function(){
    var recorded = false
    $('[rel=popover]').popover();
  	$("#sounds_language").select2({width:"315px",});
  	$("#sounds_category").select2({width:"315px",});
    $("#sounds_uuid__row").hide();
  	Wami.setup({  		
			id : "wami",
			swfUrl : "{{=URL('static', 'js/Wami.swf')}}",
      onReady : function() {
        Wami.hide();
        $("#rec-link").fadeIn();        
      },
  	});     
	$("#rec-link").click(function(){
		if($('#rec-link').hasClass('ready')){
                        recorded = true
			$("#status").text("{{=T('Recording...')}}");
			Wami.startRecording("http://avocadosoft.ro:6060/record?uuid="+$("#sounds_uuid").val());			
			//Wami.startRecording("http://localhost:6060/record?uuid="+$("#sounds_uuid").val());
			$(this).removeClass('ready');
      		$(this).text("{{=T('Stop recording')}}");
		} else{
			$("#status").text("");
			Wami.stopRecording();			
			$(this).addClass('ready');
      		$(this).text("{{=T('Start recording')}}");
		}
		return false;
	});
        $("form").submit(function(){
            if(!recorded){      
              alert("Please record your experience!");
              return false;
            } 
            return true;
        }); 
  });
</script>
