{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

<h4>{{=T('Terms and Conditions')}}</h4>

<p>These rules apply to use of the website (the "Website") by users ("Users") and to any content upload by
contributors ("Contributors").</p>

<p>All content uploads must include full name and current email address which shall be provided by
Contributors via the registration process on the Website.</p>

<p>By using the Website and/ or uploading any content you hereby warrant that all required information
submitted by you is true, current, complete and all submitted content is lawful. The Company will not be
held liable for any claims of defamation in regard to the content uploaded to the Website.</p>

<p>The Company accepts no responsibility or liability for any error, omission, interruption, deletion,
defect, delay in operation or transmission, communications line failure, theft, destruction, alteration of,
or unauthorized access to entries, or entries lost, incomplete or delayed whether or not arising during
operation or transmission as a result of server functions, virus, bugs or other causes outside its control. All
lost, damaged or incomplete entries will be deemed invalid. Proof of entry shall not be proof of delivery or
receipt. Only entries received in accordance with these Terms will be acceptable. The Company will not
be liable for any expenses, damages or any other costs associated with use of the Website or any upload of
content.</p>

<p>Each User agrees that they will not submit any content which contains material which it is unlawful for
them to possess in the country in which they are a resident, or which would be unlawful for The Company
to use or possess in connection with the Website.</p>

<p>Each Contributor agrees that they will not submit any entry that contains any third party copyright material,
or material that is subject to other third party proprietary rights (including rights of privacy or rights of
publicity), unless they have a formal license or permission from the rightful owner, or are otherwise legally
entitled, to post the material in question and to grant The Company the license referred to below. Each
Contributor confirms their understanding that the material uploaded should be based on each user’s own
experience or could be someone else’s experience the user have heard of directly or indirectly, without
breaching the third party proprietary rights mentioned above.</p>

<p>On becoming aware of any potential violation of these Terms, The Company reserves the right (but shall
have no obligation) to decide whether any submission complies with the content requirements set out in
these Terms and may remove such entry and/or terminate any access for uploading entries which is in
violation of these Terms at any time, without prior notice and at its sole discretion.</p>

<p>fee-based, transferable license (with right to sub-license) to use, reproduce, distribute, prepare derivative
works of, display, and perform its entry for the full duration of such rights throughout the world, which will
include the right to distribute the audio file in any medium (e.g., mobile, online, TV). The author’s rights in
any source material (film, audio commercial, etc.) that the audio story is based on or any derivative work
will remain unaffected by this license, and he/she will be entitled to 40% of the revenue generated by the
license or sub-license of the audio submission. The author would be able to terminate such license upon
request after 5 years from submission and/or requests a period of 3 months holdback at any time during the
license period.</p>

<h5>YOUR ACCOUNT</h5>

<p>As a registered user of The Company, you may establish an account ("Account"). Don't reveal your
Account information to anyone else. You are solely responsible for maintaining the confidentiality and
security of your Account and for all activities that occur on or through your Account, and you agree to
immediately notify The Company of any security breach of your Account. The Company shall not be
responsible for any losses arising out of the unauthorized use of your Account.</p>

<p>In order to upload to or purchase from The Company, you must enter your User ID and password to
authenticate your Account.</p>

<p>You agree to provide accurate and complete information when you register with, and as you use, The
Company’s services, and you agree to update your Account information to keep it accurate and complete.
You agree that The Company may store and use the information you provide for use in maintaining and
billing fees to your Account.</p>

<script type="text/javascript">        
  $("#no_table_query").one("focus", function() {
      $(this).val("");
  });  
</script>
