{{extend 'layout.html'}}
<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>
<div id="web2py_user_form">
{{
if request.args(0)=='login':
    if not 'register' in auth.settings.actions_disabled:
        form.add_button(T('Register'),URL(args='register'))
    pass
    if not 'request_reset_password' in auth.settings.actions_disabled:
        form.add_button(T('Lost Password'),URL(args='request_reset_password'))
    pass
pass
}}
{{if auth.user:}}
<a href="http://www.gravatar.com" target="_blank">
    <img src="{{=Gravatar(auth.user.email, size=80).thumb}}" alt=""/><br/>
    Change on Gravatar
</a>
{{pass}}
{{=form}}
</div>
{{if request.args(0)=='profile':}}
<a class="mixed" href="#">ADD <span class="green">FACEBOOK</span></a>
            | <a class="mixed" href="#"><span class="green">TWITTER</span>
            ACCOUNT</a><br/>
<a class="btn btn-green btn-small" href="{{=URL('default', 'playlist')}}">My playlist</a>
{{pass}}

<script language="javascript"><!--
      jQuery("#web2py_user_form input:visible:enabled:first").focus();
      //--></script>

