$green: #8dc63f
$fgcolor: white
$bgcolor: #292424
$hvcolor: #005580
$gray: #a5a3a3

#te-head
  background-image: url("../images/header.png")
  background-repeat: no-repeat
  height: 204px

a  
  font-family: amaranthbold
  color: $fgcolor
  font-size: 12px
  text-align: center
  line-height: 1em
  &:hover
    text-decoration: none 
  &>span.green  
    color: $green
    &:hover
      color: $hvcolor
  
#ta-menu
  margin-top: 1%
  float: right
  color: $fgcolor
  form
    margin: 0
    input
      text-align: right
      font-weight: bold
      color: $green
      width: 150px
      background-color: $bgcolor
  line-height: 1em
  text-align: right

body 
  background-color: $bgcolor
  padding-top: 0
  color: $fgcolor

footer
  margin-top: -5%
  border-top: 0
  a 
    font-family: amaranthregular
    color: $fgcolor
    font-size: 12px  
    margin-right: 21px
  a.share
    margin-right: 5px

.main
  min-height: 350px

.container.first
  top: 0px

#logo>img
  float: left
  height: 60px
  margin-top: 1%

hr
  margin: 0
  border-bottom: 0px 
  border-color: $green 

#top-first
  clear: both
  float: left
  margin-top: 5%
  margin-left: 4%

#top-second, #top-third, #top-fourth, #top-fifth
  float: left
  margin-top: 5%
  margin-left: 10.5%

#bottom-first
  clear: both
  float: left
  margin-top: 3%
  margin-left: 15%
  color: $green
  &:hover
    color: $hvcolor


#bottom-second, #bottom-third, #bottom-fourth
  float: left
  margin-top: 3%
  margin-left: 14%
  color: $green
  &:hover
    color: $hvcolor

.question
  font-weight: bold
  margin-bottom: 1em
  width: 600px

.boldit
  font-weight: bold
  font-style: italic

div.sound
  margin-top: 30px
  margin-bottom: 10px  
  width: 75%  
  div.sound-container
    min-height: 153px
    div.row
      margin-left: 5px
      margin-top: 5px
  div.sound-left
    padding-top: 5px
    float: left
    width: 47%
  div.sound-divider
    top: -10px
    position: relative
    float: left
    width: 6%    
  div.sound-right
    padding-top: 5px
    float: left
    width: 47%  
  div.social    
    height: 50px

div.sound.odd
  border-top: 10px solid $green
  background: #D9D9D9
  color: #000
  div.social    
    background: $green
    a.sound-button
      border: 2px dotted $gray
  div.title a
    color: $bgcolor
  a.sound-button
    border: 2px dotted $green

.modal-body, .modal-header, .modal-footer, .close
  color: $bgcolor  
  
div.sound.even
  border-top: 10px solid $gray
  background: $green
  div.social    
    background: $gray
    a.sound-button
      border: 2px dotted $green
  a.sound-button
    border: 2px dotted $gray

div.sound-added, div.sound div.description
  font-size: 85%
  max-height: 80px
  overflow: auto

a.sound-button
  display: inline-block
  padding: 7px 7px
  margin-bottom: 5
  margin-right: 7px
  font-size: 14px
  font-weight: bold  
  color: $green
  text-align: center  
  vertical-align: middle
  cursor: pointer
  background-color: #000

div.sound-share
  display: inline-block
  margin-left: -63%
  margin-top: 10px

div.sound-comments
  display: inline-block
  margin-top: 10px
  float: left
  a.sound-button
    color: #fff

#most_popular div.sound
  margin-bottom: 0px
  div.title a, #most_popular div.sound
    div.title
      font-size: 1.1em
  div.info 
    font-size: .8em
    color: gray
  div.actions 
    float: right

.paginate_info, .paginate_selector 
  float: right
  margin-right: 5px

#otherlinks 
  float: left
  margin-left: 20px
  a 
    margin-right: 20px

#buy 
  float: right
  margin-right: 50px
  #price 
    font-size: 1.2em
    font-weight: bold

#file-uploader
  div.qq-uploader
    div.qq-upload-button 
      width: 150px


textarea
  height: 43px
  width: 300px

.popover-title, .popover-content
  color: black

.form_split
  font-size: 140%
  font-weight: bold

.indented>td
  padding-left: 40px

div.mostsound
  font-size: 120%
  a
    font-size: 120%
    margin-right: 20px