@import "compass/typography/links"

$green: #8dc63f
$dark-gray: #292424

#te-head
  background-image: none
  height: 100px
#ta-menu
  margin-top: 1%
  float: right
  color: $dark-gray
  form
    margin: 0
    input
      text-align: right
      font-weight: bold
      color: $dark-gray
      width: 150px
      background-color: white
  line-height: 1em
  text-align: right

body 
  background-color: white
  padding-top: 0
  color: $dark-gray

a  
  color: $dark-gray
  font-size: 12px
  font-weight: bold
  text-align: center
  line-height: 1em
  &:hover
    text-decoration: none 
  &>span.green  
    color: $green

footer
  a  
    color: $dark-gray


