@import "compass/typography/links"

$green: #8dc63f
$fgcolor: #292424
$bgcolor: white
$hvcolor: #005580

#te-head
  background-image: none
  height: 100px
#ta-menu
  margin-top: 1%
  float: right
  color: $fgcolor
  form
    margin: 0
    input
      text-align: right
      font-weight: bold
      color: $fgcolor
      width: 150px
      background-color: $bgcolor
  line-height: 1em
  text-align: right

body
  font-family: enigmaregular
  font-size: 14px



