{{extend 'layout.html'}}

{{block head}}
<link href="{{=URL('static', 'css/white.css')}}" rel="stylesheet" type="text/css" />
{{end}}

{{block ta-menu}}
<div id="ta-menu">
  {{=search_form.custom.begin}}
  {{=search_form.custom.widget.query}}
  {{=search_form.custom.end}}
  {{if auth.is_logged_in():}}
  <span class="mixed">WELCOME {{=auth.user.first_name.upper()}}</span>
  {{else:}}
  <a href="{{=URL('user', 'profile')}}">SIGN IN</a>
  {{pass}}  
  | <a href="{{=URL('user', 'profile')}}">PROFILE</a><br>
  <div class="spacer">&nbsp;</div>
  <a href="{{=URL('default', 'record')}}">RECORD AN EXPERIENCE</a><br>
  <a href="{{=URL('default', 'create_sound')}}">UPLOAD AN EXPERIENCE</a><br>
  <a href="{{=URL('user', 'logout')}}">SIGN OUT</a>
</div>
{{end}}

{{block center}}
{{include}}
{{end}}

{{block player}}
{{end}}
