{{extend 'layout.html'}}

{{block head}}
<link href="{{=URL('static', 'css/white.css')}}" rel="stylesheet" type="text/css" />
{{end}}

{{block ta-menu}}
<div id="ta-menu">
  {{=search_form.custom.begin}}
  {{=search_form.custom.widget.query}}
  {{=search_form.custom.end}}
  {{if auth.is_logged_in():}}
  <span class="mixed">WELCOME {{=auth.user.first_name.upper()}}</span>
  | <a href="{{=URL('default', 'user', args='profile')}}">PROFILE</a><br>
  {{else:}}
  <a href="{{=URL('default', 'user', args='login')}}">SIGN IN</a>
  | <a href="{{=URL('default', 'user', args='register')}}">SIGN UP</a><br>
  {{pass}}    
  <div class="spacer">&nbsp;</div>
  <a href="{{=URL('default', 'submit_experience')}}">SUBMIT AN EXPERIENCE</a><br>  
  <a href="{{=URL('default', 'user', args='logout')}}">SIGN OUT</a>
</div>
{{end}}

{{block center}}
{{include}}
{{end}}

{{block player}}
{{end}}
