{{extend 'layout.html'}}

{{block head}}
<link href="/init/static/css/white.css" rel="stylesheet" type="text/css" />
{{end}}

{{block ta-menu}}
<div id="ta-menu">
  {{=search_form.custom.begin}}
  {{=search_form.custom.widget.query}}
  {{=search_form.custom.end}}
  <a href="#">ADD FACEBOOK</a> | <a href="#">TWITTER ACCOUNT</a><br>
  {{if auth.is_logged_in():}}
  <a href="{{=URL('user', 'profile')}}">WELCOME {{=auth.user.first_name.upper()}}</a>
  {{else:}}
  <a href="{{=URL('user', 'profile')}}">SIGN IN</a>
  {{pass}}
  | <a href="{{=URL('user', 'profile')}}">PROFILE</a><br>
  <a href="{{=URL('default', 'record')}}">RECORD AN EXPERIENCE</a><br>
  <a href="{{=URL('default', 'create_sound')}}">UPLOAD AN EXPERIENCE</a><br>
  <a href="{{=URL('user', 'logout')}}">SIGN OUT</a>
</div>
{{end}}

{{block center}}
{{include}}
{{end}}
